/* UNIVERSAL STYLES */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Fraunces', serif;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

p {
  line-height: 1.5;
}

::selection { background: yellow; }

a {
  color: #1D1D1D;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* NAV */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
  padding: 42px 16px;
  color: #1d1d1d;
}

.nav-title {
  font-size: 24px;
  margin: 0;
}

.nav-link {
  margin: 0 8px;
  font-size: 18px;
}

.nav-left {
  flex: 1;
}

.nav-right {
  flex: 1;
  text-align: right;
}

/* JUMBOTRON */
.jumbotron {
  width: 100vw;
  max-width: 1400px;
  min-height: 90vh;
  margin: 0 auto;
  color: #fff;
}

.jumbo-header {
  position: absolute;
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
  z-index: 2;
}

.title {
  font-size: 148px;
  background: -webkit-linear-gradient(left, #f2c87b , #82d0c3);
  background: -o-linear-gradient(right, #f2c87b, #82d0c3);
  background: -moz-linear-gradient(right, #f2c87b, #82d0c3);
  background: linear-gradient(to right, #f2c87b , #82d0c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin: 0;
  max-width: max-content;
}

.subtitle {
  font-size: 64px;
  color: #2E2E2E;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.jumbo-images {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  max-width: 1400px;
  z-index: 1;
}

.jumbo-image {
  width: auto;
  height: 50rem;
  border-radius: 6px;
  margin: 0 24px;
}

.jumbo-image--small {
  height: 40rem;
  margin: auto 24px;
}

/* TEXT CONTENT SECTIONS */
.section-header {
  font-size: 32px;
  margin: 4px 0;
  padding: 0;
}

.right {
  text-align: right;
  align-self: end;
}

.section-text {
  font-size: 18px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  margin: 16px auto;
  width: 100%;
  max-width: 1200px;
}


/* STATS SECTION STYLES */
.cards-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat-card {
  background: -webkit-linear-gradient(left, #f2c87b , #82d0c3);
  background: -o-linear-gradient(right, #f2c87b, #82d0c3);
  background: -moz-linear-gradient(right, #f2c87b, #82d0c3);
  background: linear-gradient(to right, #f2c87b , #82d0c3);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
  border-radius: 100%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 16px 16px;
}

.stats-col-wrapper {
  display: flex;
  flex-direction: row;
}

.stats-img {
  width: 100%;
  border-radius: 6px;
}

.nyhavn-wrapper {
  flex: 1;
}

.main-stat {
  margin: 2px 0;
  padding: 0;
  font-size: 1.7rem;
  color: white;
  font-weight: bold;
}

.stat-desc {
  margin: 2px 0;
  padding: 0;
  font-size: 1rem;
  color: white;
}

/* RIVER IMAGE TEXT SECTION STYLES */
.col-section {
  display: flex;
  flex-direction: row;
}

.river-image-wrapper {
  flex: 1;
  text-align: center;
}

.river-img {
  width: 80%;
  margin: 0 32px;
  border-radius: 6px;
}

.section-w-image {
  flex: 1;
  margin: auto 0;
}

/* COMPONENTS */

/* BOOK TRIP COMPONENT */
.book-icon {
  width: 24px;
  margin: 0 8px;
}

.book-trip-section {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.book-trip {
  cursor: pointer;
  display: flex;
  width: 280px;
  height: 64px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
  border-radius: 8px;
  background: #fff;
  justify-content: center;
  align-items: center;
  margin: 32px 0 16px 0;
  font-size: 1.2em;
}

/* SCROLL UP COMPONENT */
.scroll-up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
  margin: 16px;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 100%;
  width: 64px;
  height: 64px;
  z-index: 10;
}

.scroll-up:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.scroll-up-icon {
  width: 24px;
}

/* FOOTER */
.footer {
  background: #333;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 32px;
  padding: 16px 64px;
  padding-bottom: 100px;
  color: #fff;
  min-height: 164px;
}

.footer-links-header {
  margin: 8px 0;
  padding: 0;
  font-size: 18px;
}

.footer-link {
  margin: 4px 0;
  font-size: 14px;
  color: white;
}
